flows.json
[
    {
        "id": "a1ed33e6.45a07",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5724c3e2.da5a8c",
        "type": "ui_form",
        "z": "a1ed33e6.45a07",
        "name": "form",
        "label": "",
        "group": "38b2112.192bcee",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "country",
                "value": "a",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "year",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "status",
                "value": "c",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "adult_mortality",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "alcohol",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "bmi",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "polio",
                "value": "g",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "diphtheria",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "hiv/aids",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "gdp",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness__1_19_years",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "schooling",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 75,
        "y": 240,
        "wires": [
            [
                "9f4ba5e6.a553d8"
            ]
        ],
        "l": false
    },
    {
        "id": "9f4ba5e6.a553d8",
        "type": "function",
        "z": "a1ed33e6.45a07",
        "name": "pre token",
        "func": "global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\n\nvar apikey = \"cEPjjNFXUE-tI0vEs06LNqjXUBKRgIXNDxyIYCBvVy7I\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 155,
        "y": 120,
        "wires": [
            [
                "e6476348.7d35c"
            ]
        ],
        "l": false
    },
    {
        "id": "e6476348.7d35c",
        "type": "http request",
        "z": "a1ed33e6.45a07",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 275,
        "y": 220,
        "wires": [
            [
                "8d512741.d20588"
            ]
        ],
        "l": false
    },
    {
        "id": "8d512741.d20588",
        "type": "function",
        "z": "a1ed33e6.45a07",
        "name": "",
        "func": "var token=msg.payload.access_token;\nvar instance_id=\"46ebf7c7-5577-40a5-9841-3b198e11e449\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\n\nmsg.payload = \n{\"fields\":[\"country\", \"year\", \"status\", \"adult_mortality\",\n       \"alcohol\", \"bmi\", \"polio\", \"diphtheria\", \"hiv/aids\", \"gdp\",\n       \"thinness__1_19_years\", \"schooling\"],\n       \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l]]};\n       \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 395,
        "y": 120,
        "wires": [
            [
                "4ee9835c.d17c3c"
            ]
        ],
        "l": false
    },
    {
        "id": "4ee9835c.d17c3c",
        "type": "http request",
        "z": "a1ed33e6.45a07",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/46ebf7c7-5577-40a5-9841-3b198e11e449/deployments/716aa63c-c8c4-423d-b19e-f44919e5fbc5/online",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "93b80e26.2067e"
            ]
        ],
        "l": false
    },
    {
        "id": "93b80e26.2067e",
        "type": "function",
        "z": "a1ed33e6.45a07",
        "name": "",
        "func": "msg.payload=msg.payload.values[0][0];\n\n//msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "f324c42f.7df188"
            ]
        ],
        "l": false
    },
    {
        "id": "f324c42f.7df188",
        "type": "ui_text",
        "z": "a1ed33e6.45a07",
        "group": "38b2112.192bcee",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 640,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "38b2112.192bcee",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "d61926bc.80b5a8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d61926bc.80b5a8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]